.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-paginacao {
  margin-bottom: 4rem;
}

.blog-paginacao > btn {
  border-radius: 2rem;
}
/* footer */
.blog-footer {
  padding: 3.5rem 3;
  color: #727272 !important;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.5rem solid;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}